<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receita de pudim</title>
    <link rel="stylesheet"  type="text/css" href="./styles.css" />

</head>
<body>
    <h1>Modo de Preparo</h1>
    <p>
        No liquidificador, bata 6 ovos, 2 caixas de leite condensado e 700 ml de leite até obter uma mistura homogênea. Reserve. Para a calda, aqueça 1 xícara de açúcar em uma panela, mexendo constantemente, até derreter e adquirir uma cor dourada. Adicione 1/2 xícara de água quente com cuidado e misture até obter uma calda lisa. Despeje a calda em uma forma de pudim, cobrindo todo o fundo. Em seguida, adicione a mistura do pudim na forma. Cubra com papel alumínio e asse em banho-maria, em forno pré-aquecido a 180 °C, por cerca de 1 hora e 30 minutos. Deixe esfriar, leve à geladeira por pelo menos 4 horas e desenforme antes de servir.
    </p>
    
    <a href="lista_de_compras.html"> Clique aqui para retornar para lista de compras</a>
</body>
</html>